@import "tailwindcss";

@font-face {
  font-family: "Made Gentle";
  src: url("./assets/MADE Gentle PERSONAL USE.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.read-the-docs {
  color: #888;
}
