:root {
  --bg: #F6F3EF;
  --primary: #386640;
  --secondary: #599443;
  --accent: #e17275;
  --soft: #E8DFD8;
  --text: #2B2B2B;

  font-family: "Made Gentle", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  padding: 0 0.3em;
  color: var(--soft);
  font-size: 1.5em;
}

a:hover {
  color: white;
}

.nav {
  display: flex;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--soft);
  background-image: url('src/assets/blob-scene-bg.svg');
  background-size: cover;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));

}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  gap: 1em;
  color: var(--soft);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--accent);
  color: white;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

button:hover {
  border-color: var(--primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img{
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  padding: 1rem;
}
